<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CANTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CANTest.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="TypeIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </CANTest.Properties.Settings>
        <DXThemeManager>
            <setting name="ApplicationThemeName" serializeAs="String">
              <value>DXStyle</value>
            </setting>
        </DXThemeManager>
    </userSettings>
</configuration>